.project
.settings
*~
*.diff
*.patch
.DS_Store
node_modules
dist
research
#Symlinks 'source' begin
src/script/jquery/color/svg-names.js
src/script/jquery/color.js
src/script/jquery/cookie.js
src/script/jquery/effects/blind.js
src/script/jquery/effects/bounce.js
src/script/jquery/effects/clip.js
src/script/jquery/effects/drop.js
src/script/jquery/effects/explode.js
src/script/jquery/effects/fade.js
src/script/jquery/effects/fold.js
src/script/jquery/effects/highlight.js
src/script/jquery/effects/pulsate.js
src/script/jquery/effects/scale.js
src/script/jquery/effects/shake.js
src/script/jquery/effects/slide.js
src/script/jquery/effects/transfer.js
src/script/jquery/effects.js
src/script/jquery/fn/datalink.js
src/script/jquery/fn/scrollto.js
src/script/jquery/metadata.js
src/script/jquery/tmpl.js
src/script/jquery/ui/accordion.js
src/script/jquery/ui/autocomplete.js
src/script/jquery/ui/button.js
src/script/jquery/ui/core.js
src/script/jquery/ui/datepicker.js
src/script/jquery/ui/dialog.js
src/script/jquery/ui/draggable.js
src/script/jquery/ui/droppable.js
src/script/jquery/ui/menu.js
src/script/jquery/ui/mouse.js
src/script/jquery/ui/position.js
src/script/jquery/ui/progressbar.js
src/script/jquery/ui/resizable.js
src/script/jquery/ui/selectable.js
src/script/jquery/ui/slider.js
src/script/jquery/ui/sortable.js
src/script/jquery/ui/spinner.js
src/script/jquery/ui/tabs.js
src/script/jquery/ui/tooltip.js
src/script/jquery/ui/widget.js
src/script/jquery.js
src/script/require.js
src/script/util/json.js
src/style/jquery/ui/accordion.css
src/style/jquery/ui/autocomplete.css
src/style/jquery/ui/button.css
src/style/jquery/ui/core.css
src/style/jquery/ui/datepicker.css
src/style/jquery/ui/dialog.css
src/style/jquery/ui/menu.css
src/style/jquery/ui/progressbar.css
src/style/jquery/ui/resizable.css
src/style/jquery/ui/selectable.css
src/style/jquery/ui/slider.css
src/style/jquery/ui/spinner.css
src/style/jquery/ui/tabs.css
src/style/jquery/ui/theme.css
src/style/jquery/ui/tooltip.css
#Symlinks 'source' end