[submodule "external/requirejs"]
	path = external/requirejs
	url = https://github.com/evanvosberg/requirejs.git
[submodule "external/jquery"]
	path = external/jquery
	url = http://github.com/jquery/jquery
[submodule "external/jquery-ui"]
	path = external/jquery-ui
	url = http://github.com/evanvosberg/jquery-ui.git
[submodule "external/jquery-tmpl"]
	path = external/jquery-tmpl
	url = https://github.com/evanvosberg/jquery-tmpl.git
[submodule "external/jquery-color"]
	path = external/jquery-color
	url = https://github.com/evanvosberg/jquery-color.git
[submodule "external/jquery-datalink"]
	path = external/jquery-datalink
	url = https://github.com/evanvosberg/jquery-datalink.git
[submodule "external/jquery.scrollTo"]
	path = external/jquery.scrollTo
	url = https://github.com/evanvosberg/jquery.scrollTo.git
[submodule "external/JSON-js"]
	path = external/JSON-js
	url = https://github.com/evanvosberg/JSON-js.git
