.project
.settings
*~
*.diff
*.patch
.DS_Store
node_modules
dist
.external
research
#Symlinks 'external' begin
src/jquery-migrate-sdk.js
src/jquery-migrate.js
src/jquery-sdk.js
src/jquery.js
src/jquery/color.js
src/jquery/color/svg-names.js
src/jquery/cookie.js
src/jquery/effects.js
src/jquery/effects/blind.js
src/jquery/effects/bounce.js
src/jquery/effects/clip.js
src/jquery/effects/drop.js
src/jquery/effects/explode.js
src/jquery/effects/fade.js
src/jquery/effects/fold.js
src/jquery/effects/highlight.js
src/jquery/effects/pulsate.js
src/jquery/effects/scale.js
src/jquery/effects/shake.js
src/jquery/effects/slide.js
src/jquery/effects/transfer.js
src/jquery/fn/datalink.js
src/jquery/fn/scrollto.js
src/jquery/metadata.js
src/jquery/tmpl.js
src/jquery/ui/accordion.css
src/jquery/ui/accordion.js
src/jquery/ui/autocomplete.css
src/jquery/ui/autocomplete.js
src/jquery/ui/button.css
src/jquery/ui/button.js
src/jquery/ui/core.css
src/jquery/ui/core.js
src/jquery/ui/datepicker.css
src/jquery/ui/datepicker.js
src/jquery/ui/dialog.css
src/jquery/ui/dialog.js
src/jquery/ui/draggable.js
src/jquery/ui/droppable.js
src/jquery/ui/images/animated-overlay.gif
src/jquery/ui/images/ui-bg_flat_0_aaaaaa_40x100.png
src/jquery/ui/images/ui-bg_flat_75_ffffff_40x100.png
src/jquery/ui/images/ui-bg_glass_55_fbf9ee_1x400.png
src/jquery/ui/images/ui-bg_glass_65_ffffff_1x400.png
src/jquery/ui/images/ui-bg_glass_75_dadada_1x400.png
src/jquery/ui/images/ui-bg_glass_75_e6e6e6_1x400.png
src/jquery/ui/images/ui-bg_glass_95_fef1ec_1x400.png
src/jquery/ui/images/ui-bg_highlight-soft_75_cccccc_1x100.png
src/jquery/ui/images/ui-icons_222222_256x240.png
src/jquery/ui/images/ui-icons_2e83ff_256x240.png
src/jquery/ui/images/ui-icons_454545_256x240.png
src/jquery/ui/images/ui-icons_888888_256x240.png
src/jquery/ui/images/ui-icons_cd0a0a_256x240.png
src/jquery/ui/menu.css
src/jquery/ui/menu.js
src/jquery/ui/mouse.js
src/jquery/ui/position.js
src/jquery/ui/progressbar.css
src/jquery/ui/progressbar.js
src/jquery/ui/resizable.css
src/jquery/ui/resizable.js
src/jquery/ui/selectable.css
src/jquery/ui/selectable.js
src/jquery/ui/slider.css
src/jquery/ui/slider.js
src/jquery/ui/sortable.js
src/jquery/ui/spinner.css
src/jquery/ui/spinner.js
src/jquery/ui/tabs.css
src/jquery/ui/tabs.js
src/jquery/ui/theme.css
src/jquery/ui/tooltip.css
src/jquery/ui/tooltip.js
src/jquery/ui/widget.js
src/qunit.css
src/qunit.js
src/require.js
src/util/json.js
#Symlinks 'external' end